<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form action="javascript:">

                    <div class="row justify-content-md-center">
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body">
                                    <img src="assets/images/olive_logo.png" class="imagesize">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <span></span>
                    </div>
                    <div class="row  justify-content-md-center" style="margin-top: 10px;">
                        <!-- <div class="col-sm-7">
                            <div class="card">
                                <div class="card-body">
                                    <img src="assets/images/modal/bank.png" class="img-fluid">
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center">Sign In</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="mobileno">User Name<sub class="required">* </sub></label>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input type="text" name="mobileno" class="form-control"
                                                        placeholder=" " id="mobileno" required pattern="^[A-Za-z]+$"
                                                        maxlength="10" [(ngModel)]="mobileno"
                                                        title="Input allowed only A-Z">

                                                </span>
                                            </div>
                                            <!-- <div class="form-group form-primary form-static-label"
                                                *ngIf="angForm.controls['User_Name'].invalid && (angForm.controls['F_NAME'].dirty || angForm.controls['F_NAME'].touched)"
                                                class="alert alert-danger">
                                                <div
                                                    *ngIf="angForm.controls['F_NAME'].errors?.pattern || angForm.controls['F_NAME'].errors?.required">
                                                    This field is required and Input allowed only A-Z
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="password">Password<sub class="required">* </sub></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input [type]="passType" name="password" class="form-control"
                                                        placeholder=" " id="password" required
                                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="10"
                                                        [(ngModel)]="password" title="Input allowed only A-Z">
                                                    <div>
                                                        <span toggle="#password-field"
                                                           
                                                            class="fa fa-fw fa-eye field-icon toggle-password errspan"
                                                            (click)="showHidePassword()"></span>
                                            </div>

                                            </span>
                                        </div>
                                        <!-- <div class="form-group form-primary form-static-label"
                                                *ngIf="angForm.controls['User_Name'].invalid && (angForm.controls['F_NAME'].dirty || angForm.controls['F_NAME'].touched)"
                                                class="alert alert-danger">
                                                <div
                                                    *ngIf="angForm.controls['F_NAME'].errors?.pattern || angForm.controls['F_NAME'].errors?.required">
                                                    This field is required and Input allowed only A-Z
                                                </div>
                                            </div> -->
                                    </div>
                                    <!-- <div class="col-sm">
                                            <div class="form-group input-group">
                                                <span class="border-lable-flt">
                                                    <input [type]="passType" name="password" [(ngModel)]="password"
                                                    class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                    minlength="8" maxlength="8"
                                                    title="Must contain at least one number, one uppercase, lowercase latter and at least 8 characters"
                                                    style="width: 90%;" >
                                                    <span toggle="#password-field"
                                           style="display: absolute; margin: 5% 0% 0% 90%; font-size: 95%; cursor: pointer;"
                                            class="fa fa-fw fa-eye field-icon toggle-password"
                                            (click)="showHidePassword()"></span>
                                                    <label for="password">Password<sub class="required">* </sub></label>
                                                </span>
                                            </div>
                                            <!-- <div class="form-group form-primary form-static-label"
                                                *ngIf="angForm.controls['User_Name'].invalid && (angForm.controls['F_NAME'].dirty || angForm.controls['F_NAME'].touched)"
                                                class="alert alert-danger">
                                                <div
                                                    *ngIf="angForm.controls['F_NAME'].errors?.pattern || angForm.controls['F_NAME'].errors?.required">
                                                    This field is required and Input allowed only A-Z
                                                </div>
                                            </div> 
                                        </div> -->
                                    <div class="col-sm">

                                    </div>
                                </div>


                                <!-- <div class="form-group form-primary">
                                        <input type="text" name="email" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Your Email Address</label>
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="password" name="password" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Password</label>
                                    </div> -->
                                <!-- <div class="form-group form-primary form-static-label">
                                        <input type="text" name="mobileno" [(ngModel)]="mobileno" class="form-control"
                                            minlength="10" maxlength="10" pattern="^[0-9]+$"
                                            title="Please Enter Mobile Number">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Your Mobile Number</label>
                                        <label class="invalid">Invalid Number</label>
                                        *ngIf="isInvalidNumber"
                                    </div> -->
                                <!-- <div class="form-group form-primary form-static-label">
                                        <input [type]="passType" name="password" [(ngModel)]="password"
                                            class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                            minlength="8" maxlength="8"
                                            title="Must contain at least one number, one uppercase, lowercase latter and at least 8 characters"
                                            style="width: 90%;">
                                        <span toggle="#password-field"
                                            style="font-size: 20px;color: #262d38; cursor: pointer;"
                                            class="fa fa-fw fa-eye field-icon toggle-password"
                                            (click)="showHidePassword()"></span>
                                        <span class="form-bar"></span>
                                        <label class="float-label">Password</label>
                                        <label class="invalid" *ngIf="isInvalidPassword">Invalid Password</label>
                                    </div> -->
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <!-- <div class="checkbox-fade fade-in-primary d-">
                                                <label>
                                                    <span class="text-inverse" *ngIf="resetPassword">Reset Password</span>
                                                 
                                                </label>
                                            </div> -->
                                        <div class="forgot-phone text-right f-left">
                                            <a [routerLink]="['/auth/resetpassword']" class="text-right f-w-600">
                                                    Reset Password?</a>
                                        </div>
                                        <div class="forgot-phone text-right f-right" *ngIf="forgetPassword">
                                            <a [routerLink]="['/auth/forgot']" class="text-right f-w-600"> Forgot
                                                    Password?</a>
                                            <!-- <a [routerLink]="['/']" class="text-right f-w-600">Reset Password</a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <!-- <a [routerLink]="['/dashboard/default']"><button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" mdbRippleRadius><b>Sign in</b></button></a> -->
                                        <button class="btn btn-primary btn-md btn-block waves-light text-center m-b-20" (click)="login()" mdbRippleRadius>
                                                <b style="color: white;">Sign in</b>
                                            </button>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-8 text-left f-left">

                                        <label class="text-center m-b-0"> &copy; Compserv Consultant Pvt. Ltd.
                                            </label>
                                    </div>
                                    <!-- <div class="col-md-4 text-right f-right">
                                        <img src="assets/images/comp.png" alt="small-logo.png">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
            <!-- end of form -->
        </div>
        <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>