.table-responsive {
  
    // width: 100%;
    padding-top: -46px; 
    margin: -13px;
    overflow: auto;
    height: 185px;

}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa;
    border-radius: -69px;
    padding: -38px;
    background-color: transparent;
    margin-left: 3px;
}